In [1]:
import quandl
import numpy as np
from sklearn import preprocessing
from sklearn import model_selection
data_frame = quandl.get("YALE/SPCOMP", start_date="1950-01-01", end_date="2019-12-31")
data_frame.head()

,S&P Composite,Dividend,Earnings,CPI,Long Interest Rate,Real Price,Real Dividend,Real Earnings,Cyclically Adjusted PE Ratio
Year,,,,,,,,,
1950-01-31,16.88,1.15,2.33667,23.5,2.320000,184.702397,12.583398,25.568042,10.745733
1950-02-28,17.21,1.16,2.35333,23.5,2.340833,188.313285,12.692819,25.750337,10.911564
1950-03-31,17.35,1.17,2.37000,23.6,2.361667,189.040748,12.747993,25.822857,10.910947
1950-04-30,17.84,1.18,2.42667,23.6,2.382500,194.379651,12.856950,26.440318,11.178022
1950-05-31,18.44,1.19,2.48333,23.7,2.403333,200.069332,12.911199,26.943502,11.461543

In [4]:
data_frame = data_frame[['Long Interest Rate', 'Real Price', 'Real Dividend']]
data_frame

            Long Interest Rate   Real Price  Real Dividend
Year
1950-01-31            2.320000   184.702397      12.583398
1950-02-28            2.340833   188.313285      12.692819
1950-03-31            2.361667   189.040748      12.747993
1950-04-30            2.382500   194.379651      12.856950
1950-05-31            2.403333   200.069332      12.911199
...                        ...          ...            ...
2019-08-31            1.630000  2904.059842      56.967809
2019-09-30            1.700000  2986.569552      57.304685
2019-10-31            1.710000  2975.284860            NaN
2019-11-30            1.810000  3104.071562            NaN
2019-12-31            1.910000  3223.380000            NaN

[840 rows x 3 columns]

In [5]:
data_frame.fillna(method='ffill', inplace=True)
data_frame

            Long Interest Rate   Real Price  Real Dividend
Year
1950-01-31            2.320000   184.702397      12.583398
1950-02-28            2.340833   188.313285      12.692819
1950-03-31            2.361667   189.040748      12.747993
1950-04-30            2.382500   194.379651      12.856950
1950-05-31            2.403333   200.069332      12.911199
...                        ...          ...            ...
2019-08-31            1.630000  2904.059842      56.967809
2019-09-30            1.700000  2986.569552      57.304685
2019-10-31            1.710000  2975.284860      57.304685
2019-11-30            1.810000  3104.071562      57.304685
2019-12-31            1.910000  3223.380000      57.304685

[840 rows x 3 columns]

In [6]:
data_frame['Real Price Label'] = data_frame['Real Price'].shift(-3)
data_frame

            Long Interest Rate   Real Price  Real Dividend  Real Price Label
Year
1950-01-31            2.320000   184.702397      12.583398        194.379651
1950-02-28            2.340833   188.313285      12.692819        200.069332
1950-03-31            2.361667   189.040748      12.747993        202.469952
1950-04-30            2.382500   194.379651      12.856950        185.438831
1950-05-31            2.403333   200.069332      12.911199        195.023530
...                        ...          ...            ...               ...
2019-08-31            1.630000  2904.059842      56.967809       3104.071562
2019-09-30            1.700000  2986.569552      57.304685       3223.380000
2019-10-31            1.710000  2975.284860      57.304685               NaN
2019-11-30            1.810000  3104.071562      57.304685               NaN
2019-12-31            1.910000  3223.380000      57.304685               NaN

[840 rows x 4 columns]

In [7]:
features = np.array(data_frame.drop('Real Price Label', 1))
scaled_features = preprocessing.scale(features)
scaled_features

array([[-1.14839975, -1.13009904, -1.19222544],
       [-1.14114523, -1.12483455, -1.18037146],
       [-1.13389072, -1.12377394, -1.17439424],
       ...,
       [-1.360812  ,  2.9384288 ,  3.65260385],
       [-1.32599032,  3.12619329,  3.65260385],
       [-1.29116864,  3.30013894,  3.65260385]])

In [8]:
scaled_features_latest_3 = scaled_features[-3:]
scaled_features = scaled_features[:-3]
scaled_features

array([[-1.14839975, -1.13009904, -1.19222544],
       [-1.14114523, -1.12483455, -1.18037146],
       [-1.13389072, -1.12377394, -1.17439424],
       ...,
       [-1.38866935,  2.97846643,  3.57443947],
       [-1.38866935,  2.83458633,  3.6161088 ],
       [-1.36429417,  2.95488131,  3.65260385]])

In [9]:
data_frame.dropna(inplace=True)
data_frame

            Long Interest Rate   Real Price  Real Dividend  Real Price Label
Year
1950-01-31            2.320000   184.702397      12.583398        194.379651
1950-02-28            2.340833   188.313285      12.692819        200.069332
1950-03-31            2.361667   189.040748      12.747993        202.469952
1950-04-30            2.382500   194.379651      12.856950        185.438831
1950-05-31            2.403333   200.069332      12.911199        195.023530
...                        ...          ...            ...               ...
2019-05-31            2.400000  2866.381124      55.925898       2904.059842
2019-06-30            2.060000  2901.408290      56.295329       2986.569552
2019-07-31            1.630000  3002.746469      56.583171       2975.284860
2019-08-31            1.630000  2904.059842      56.967809       3104.071562
2019-09-30            1.700000  2986.569552      57.304685       3223.380000

[837 rows x 4 columns]

In [11]:
label = np.array(data_frame['Real Price Label'])
(features_train, features_test, label_train, label_test) = model_selection.train_test_split(scaled_features, label, test_size=0.1, random_state=8)

In [12]:
label

array([ 194.37965085,  200.06933165,  202.4699521 ,  185.43883071,
        195.02352963,  201.07426721,  207.69723293,  206.43993401,
        203.13981   ,  214.72118858,  220.11898833,  215.57816163,
        218.46848372,  217.72425753,  213.95156178,  217.72425753,
        227.25527838,  231.32657931,  229.26591756,  221.19798068,
        227.15562226,  234.72424189,  232.20727186,  232.79390076,
        231.23029773,  231.13289659,  236.56788   ,  241.53730787,
        242.50037528,  238.64810562,  233.64015506,  241.05577416,
        250.78275506,  253.07891053,  250.92885057,  251.24220338,
        238.86859737,  239.22594607,  229.7939944 ,  233.0562056 ,
        233.14573271,  222.43957361,  228.28229   ,  234.19723048,
        237.35172379,  243.37393829,  248.72701784,  253.98450669,
        265.10263321,  274.63209926,  276.8306855 ,  288.01479814,
        293.75024052,  301.75453545,  308.75869478,  320.84806567,
        336.78467528,  342.852     ,  354.31250225,  351.51960674,
        363.65425618,  362.11334831,  383.10821798,  409.59939963,
        407.10476754,  423.84919182,  402.53246431,  429.68022491,
        435.31329963,  423.60771828,  426.29424515,  455.6541459 ,
        459.31334387,  443.23144667,  437.41990919,  457.78249708,
        456.72784286,  439.57630511,  432.36754036,  427.879296  ,
        432.66431739,  423.25452065,  403.53185307,  407.26007806,
        415.20114516,  429.60580071,  435.1231121 ,  440.7707735 ,
        416.5106629 ,  399.61036113,  374.71421767,  365.33657218,
        365.15548838,  369.70474406,  370.96346643,  375.97650313,
        376.72198131,  388.82264014,  398.16506055,  407.69831793,
        424.41281315,  435.62371765,  453.32982872,  465.51025862,
        475.92958858,  493.17486828,  487.31844394,  499.68602907,
        506.29782414,  513.92332552,  507.7390701 ,  526.07821438,
        523.08413014,  500.67508362,  498.53479592,  500.54642755,
        516.55201837,  509.2756372 ,  487.86440204,  481.21727143,
        485.77479559,  481.32934169,  497.42497095,  485.08924865,
        490.90962466,  476.14150642,  463.6267943 ,  478.64095067,
        490.11728859,  515.31345906,  536.45408154,  553.28029128,
        568.03558289,  573.81689597,  566.22352953,  560.905872  ,
        582.99173278,  576.505638  ,  582.8484    ,  609.248004  ,
        614.905062  ,  592.019691  ,  599.87709568,  600.47509336,
        579.41420364,  536.33064934,  473.66366126,  483.47223861,
        496.62621386,  490.59414474,  475.11505362,  507.849525  ,
        529.84167632,  550.31129408,  557.58562105,  553.64977475,
        579.70090623,  591.33539213,  589.15082647,  578.52087068,
        594.51876938,  610.18163355,  609.70328474,  606.28033052,
        617.2168165 ,  636.19017961,  644.01253107,  655.74605825,
        665.23273981,  671.72362718,  665.57526968,  688.07419871,
        680.17412903,  689.64514437,  701.55125884,  704.16526154,
        691.96764231,  709.76957308,  714.96180288,  713.33480415,
        720.39865701,  731.12643057,  691.99685316,  690.93900285,
        703.79595285,  727.31277911,  741.3228142 ,  747.48766088,
        741.74089528,  754.59784528,  744.81918469,  711.97863925,
        729.22391331,  690.85208731,  683.00562778,  679.16343877,
        634.19756422,  611.86500275,  602.83073161,  632.9996234 ,
        635.65698693,  660.04220517,  682.78611064,  696.76876909,
        706.62729426,  717.12349428,  706.01257568,  716.06282605,
        725.28549582,  733.22879732,  729.90850861,  704.92602781,
        722.87158407,  716.67127742,  682.32059211,  667.88669125,
        715.1304689 ,  729.45489652,  744.73975504,  738.99832951,
        720.79735114,  742.11341026,  756.11977904,  765.60594915,
        771.417     ,  736.74657303,  729.03934358,  707.3103241 ,
        717.58073554,  738.92141209,  696.52350984,  661.78355136,
        654.52300054,  655.04600782,  658.49644182,  659.7158184 ,
        621.43061777,  614.34452619,  589.79566421,  596.73749607,
        574.05446883,  506.68373938,  500.95713943,  499.24525846,
        513.75053538,  541.69741378,  550.62988401,  547.26451818,
        581.79313945,  604.01821884,  625.83379173,  640.27611   ,
        660.4817207 ,  648.2710273 ,  631.57391823,  625.47324324,
        612.84795   ,  626.46119118,  611.66389511,  583.30944792,
        620.44950438,  646.28853285,  654.98844552,  668.93406522,
        674.13790843,  665.71803606,  665.97151079,  657.88307399,
        679.58164286,  668.19493112,  666.25140426,  698.03535142,
        710.91370588,  714.67740845,  684.50521678,  667.49246189,
        650.51448853,  627.91117995,  609.68704072,  614.11526411,
        591.8188071 ,  600.74952212,  619.16364474,  571.42      ,
        527.52455455,  530.33539249,  509.10253284,  524.17623766,
        495.31399875,  474.43732778,  471.19409816,  412.82781559,
        391.0055634 ,  346.1721083 ,  349.42724384,  358.1971235 ,
        332.29889653,  358.11911401,  392.32064571,  408.78757913,
        411.81126805,  435.49293045,  443.27693284,  438.7967917 ,
        405.88183591,  398.75383022,  414.84155246,  418.81572749,
        410.95908649,  447.95833705,  463.58751613,  465.05819141,
        467.06709626,  460.57463363,  460.85827817,  469.24490018,
        462.76060453,  470.97507812,  452.54687565,  448.66322069,
        462.58510825,  456.25689231,  439.44228426,  434.75938487,
        424.4936325 ,  421.14506866,  420.61501334,  422.38242295,
        410.708125  ,  403.00465749,  391.30210812,  391.64886785,
        388.48278551,  371.308716  ,  363.75561558,  360.23794921,
        373.07287465,  388.33968977,  385.15636104,  380.38568356,
        404.79912273,  401.7555203 ,  385.51689121,  361.32989154,
        365.0462229 ,  375.39282123,  365.53927598,  368.76237679,
        371.86815722,  358.66395063,  361.70174689,  361.26094802,
        374.21041463,  374.3337185 ,  357.32746676,  351.32166403,
        361.40266232,  366.5387545 ,  375.76839924,  336.11052809,
        326.97922222,  338.55587164,  356.32562757,  372.49398065,
        381.232491  ,  387.23908929,  394.80539858,  408.11417895,
        397.77585747,  393.09755172,  375.61601365,  387.01598644,
        387.8729697 ,  377.11811024,  375.49105629,  362.40878712,
        361.05324377,  326.38995386,  329.82068737,  337.27196478,
        338.65753404,  319.85582927,  311.23060782,  301.49207619,
        315.12397998,  312.43193737,  290.80565258,  288.52314462,
        288.7220911 ,  321.48941369,  347.47805804,  362.35608061,
        367.26615369,  379.39834049,  385.57717263,  398.97256486,
        411.26592596,  425.36804335,  430.02944322,  429.85198198,
        416.76021557,  426.94777358,  426.95257723,  419.75654941,
        417.31146693,  419.9011737 ,  394.99965527,  394.48029825,
        393.06601746,  389.43875629,  379.63337416,  373.23441787,
        404.5325512 ,  406.76940857,  402.43596581,  406.09891453,
        401.70337607,  418.24694218,  438.83438774,  433.55955451,
        434.41817961,  443.10345853,  451.42711059,  459.17678571,
        448.32660833,  437.11255679,  440.47177369,  465.91699541,
        487.69363861,  488.47025365,  516.16007868,  549.02012592,
        563.52745856,  563.15566116,  576.03832603,  564.06198904,
        574.2849134 ,  556.04558711,  553.44332366,  570.87652989,
        578.50457376,  611.63008543,  647.22531452,  670.9469893 ,
        660.07375954,  657.28457029,  682.83431366,  700.69247715,
        740.39848427,  712.6104287 ,  624.89460364,  545.9190208 ,
        537.00605719,  556.7270484 ,  572.134275  ,  586.45349614,
        576.64134415,  560.45359915,  589.89429915,  583.93337468,
        569.81138067,  575.23582638,  593.43060399,  579.25743142,
        590.03264315,  606.0071891 ,  621.70120066,  615.40952821,
        631.46319821,  651.98652746,  670.71631185,  686.04850563,
        715.28392777,  714.4349976 ,  711.22682006,  694.8267498 ,
        710.85373037,  686.18167841,  663.84048867,  676.23361259,
        674.62581086,  697.08153831,  713.39741501,  709.95210253,
        646.2669016 ,  611.18471733,  591.55452944,  605.92941188,
        631.79705717,  621.81406471,  691.03244911,  709.09412533,
        722.11934556,  716.78444403,  715.24347287,  717.85581476,
        733.01556808,  725.68674052,  724.03155983,  720.13848244,
        724.44577875,  774.73131875,  765.40595844,  751.96082584,
        750.97491032,  763.52060551,  748.80270706,  759.61239822,
        762.71186849,  761.55363567,  748.02424189,  765.69475183,
        789.4294148 ,  784.81491564,  793.69878616,  806.0842078 ,
        791.2024175 ,  793.97461685,  797.87881122,  796.50764065,
        806.45396457,  813.84227677,  818.7150453 ,  816.37223395,
        821.7689784 ,  831.90270595,  826.59583926,  810.21494287,
        780.19182476,  786.06084814,  790.23332007,  782.16000404,
        801.16919034,  803.70567229,  797.75009759,  791.8747521 ,
        781.87776493,  795.96752994,  821.20892565,  837.56999901,
        859.79900915,  884.96701439,  909.42898131,  939.81353725,
        940.2811399 ,  971.43824432,  975.22098816,  996.96607207,
       1029.5108484 , 1023.26000246, 1078.25736643, 1068.63797514,
       1064.70023436, 1085.74726034, 1096.98418315, 1054.87589637,
       1083.28590286, 1099.73363954, 1139.43602615, 1192.74557459,
       1205.03506778, 1238.37237322, 1286.32334718, 1273.095189  ,
       1226.19348483, 1338.03828551, 1405.66646482, 1482.41835084,
       1482.77093507, 1494.69221948, 1513.49214876, 1494.94086613,
       1534.17767781, 1532.9048703 , 1625.96343335, 1707.12077293,
       1759.93843569, 1750.72487948, 1748.5294246 , 1822.31510184,
       1691.10594969, 1604.19528704, 1618.83111787, 1794.37552299,
       1867.04250732, 1954.3972552 , 1948.59777884, 1997.36224691,
       2065.0953769 , 2060.93350018, 2046.20447924, 2130.2122832 ,
       2042.78546445, 2018.77853264, 1987.4154066 , 2125.25459893,
       2182.8244    , 2171.65158181, 2103.25466979, 2166.17077798,
       2193.65235867, 2126.80191673, 2180.5506522 , 2191.93140625,
       2210.47279479, 2173.24645337, 2054.36327276, 2035.31204802,
       1966.86212224, 1961.40812433, 1909.89334044, 1730.58049461,
       1729.53232199, 1838.27614761, 1789.44185781, 1744.85109042,
       1707.25809296, 1506.54899024, 1557.86874513, 1637.45651364,
       1666.13557029, 1655.51925008, 1591.8176779 , 1659.30876292,
       1590.21450651, 1543.47756257, 1449.38348405, 1290.10676852,
       1298.57329524, 1232.86074912, 1212.12743282, 1290.55979189,
       1278.13292438, 1267.77876588, 1175.49457766, 1181.87617573,
       1245.16552867, 1311.56304327, 1382.9794883 , 1387.82350767,
       1378.36811847, 1415.4307892 , 1443.77293768, 1463.2533122 ,
       1507.73027108, 1572.43553067, 1578.96051042, 1542.25770128,
       1550.16519702, 1499.56502602, 1535.46006136, 1501.35777798,
       1477.61975018, 1513.39639147, 1504.86255731, 1573.71760555,
       1620.40809348, 1593.00779229, 1608.29853269, 1589.52607915,
       1538.64525062, 1558.54805   , 1589.43631234, 1608.42155251,
       1602.88983467, 1585.67325392, 1538.65161867, 1610.20285643,
       1649.02143155, 1658.15105129, 1652.12131027, 1665.02006937,
       1661.73047955, 1638.08336489, 1588.16599621, 1592.41696983,
       1623.22934698, 1669.99677605, 1737.25554916, 1772.07692784,
       1804.84054698, 1809.18049087, 1825.63269205, 1761.76378146,
       1820.92123298, 1868.59772569, 1868.74761178, 1877.27184811,
       1798.98484578, 1846.45757437, 1894.87035619, 1790.37021753,
       1810.95217763, 1679.61421092, 1645.73187082, 1585.9120802 ,
       1640.42623616, 1665.60151584, 1576.16106643, 1469.82496622,
       1504.0482474 , 1430.29991384, 1150.26463687, 1068.91384046,
       1073.38176095, 1054.1404433 ,  975.79108156,  915.27697968,
       1022.75578151, 1085.05164686, 1104.07649149, 1117.41212709,
       1202.96599456, 1243.67174201, 1269.96407916, 1293.3260839 ,
       1322.17330397, 1333.33442994, 1292.16674852, 1361.18928347,
       1412.2245755 , 1325.9668864 , 1278.06807075, 1273.5994615 ,
       1280.65379787, 1320.87461085, 1377.42916278, 1408.94492173,
       1456.55278412, 1497.62569841, 1535.00976318, 1501.05050907,
       1522.33888776, 1522.94920912, 1466.46079385, 1508.29946358,
       1345.38139482, 1330.38767556, 1371.00067388, 1393.98140114,
       1416.68466394, 1475.43661624, 1527.59968071, 1557.28091808,
       1549.45008918, 1500.74114627, 1483.01067518, 1526.1735693 ,
       1566.46972836, 1603.92544469, 1598.32436431, 1557.55950539,
       1592.87733202, 1653.06833246, 1674.98204341, 1713.16636968,
       1736.9220762 , 1810.15612166, 1782.61999379, 1836.85810767,
       1836.20139009, 1852.82536603, 1893.78877896, 1967.73355556,
       1994.64808439, 2003.28249474, 1990.0752129 , 2027.92156044,
       2022.06060665, 2042.59591438, 2100.63973144, 2129.53184008,
       2120.58701491, 2153.23705303, 2098.05574848, 2226.2818503 ,
       2249.59939667, 2231.52997993, 2281.05940559, 2265.15675829,
       2276.72224118, 2283.64474952, 2262.0426391 , 2256.34209131,
       2200.98580007, 2101.25719385, 2189.12713103, 2254.22416397,
       2233.10042118, 2082.37048321, 2065.2802037 , 2183.33613731,
       2230.62797556, 2210.94647794, 2223.27540146, 2296.34953995,
       2317.78380666, 2298.10232827, 2279.63554137, 2306.59392512,
       2392.79048167, 2409.0944275 , 2459.37335538, 2496.30529809,
       2481.0268689 , 2516.77503095, 2555.05604952, 2577.9448984 ,
       2572.46874816, 2597.0706662 , 2665.59809538, 2703.6971885 ,
       2779.06298478, 2894.15848903, 2793.68385701, 2784.91859489,
       2723.45902377, 2761.09527128, 2810.64175281, 2850.54243137,
       2914.41060727, 2955.52116947, 2832.31666149, 2778.3454835 ,
       2627.66247304, 2663.60625322, 2802.40982348, 2836.37663441,
       2921.87858328, 2866.38112354, 2901.40829002, 3002.74646917,
       2904.05984212, 2986.56955232, 2975.28485976, 3104.07156164,
       3223.38      ])