In [24]:
import pandas

In [25]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Applied-Artificial-Intelligence-Workshop/master/Chapter03/ks-projects-201801.csv'

In [26]:
df = pandas.read_csv(file_url)

In [27]:
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/9/2015,1000.0,8/11/2015 12:12,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,11/1/2017,30000.0,9/2/2017 4:43,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2/26/2013,45000.0,1/12/2013 0:20,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,4/16/2012,5000.0,3/17/2012 3:24,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,8/29/2015,19500.0,7/4/2015 8:35,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [28]:
df.fillna(-1000000, inplace=True)

In [29]:
df.drop(['ID', 'name'], 1, inplace=True)
df.head()

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,Poetry,Publishing,GBP,10/9/2015,1000.0,8/11/2015 12:12,0.0,failed,0,GB,0.0,0.0,1533.95
1,Narrative Film,Film & Video,USD,11/1/2017,30000.0,9/2/2017 4:43,2421.0,failed,15,US,100.0,2421.0,30000.00
2,Narrative Film,Film & Video,USD,2/26/2013,45000.0,1/12/2013 0:20,220.0,failed,3,US,220.0,220.0,45000.00
3,Music,Music,USD,4/16/2012,5000.0,3/17/2012 3:24,1.0,failed,1,US,1.0,1.0,5000.00
4,Film & Video,Film & Video,USD,8/29/2015,19500.0,7/4/2015 8:35,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [7]:
from sklearn import preprocessing

In [9]:
def fit_encoder(dataframe, column):
    encoder = preprocessing.LabelEncoder()
    encoder.fit(dataframe[column].unique())
    return encoder

In [10]:
def encode(dataframe, column, encoder):
    return encoder.transform(dataframe[column])

In [11]:
cat_cols = df.select_dtypes(exclude='number').columns

In [12]:
for col in cat_cols:
    label_encoder = fit_encoder(df, col)
    df[col] = encode(df, col, label_encoder)

In [13]:
df.head()

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,108,12,5,554,1000.0,291583,0.0,1,0,9,0.0,0.0,1533.95
1,93,6,13,565,30000.0,330363,2421.0,1,15,22,100.0,2421.0,30000.00
2,93,6,13,1271,45000.0,2295,220.0,1,3,22,220.0,220.0,45000.00
3,90,10,13,1669,5000.0,144169,1.0,1,1,22,1.0,1.0,5000.00
4,55,6,13,2817,19500.0,282909,1283.0,0,14,22,1283.0,1283.0,19500.00

In [14]:
label = df.pop('state')

In [21]:
features = preprocessing.MinMaxScaler(feature_range=(0,1)).fit_transform(df)

In [17]:
from sklearn import model_selection

In [22]:
features_train, features_test, label_train, label_test = model_selection.train_test_split(features, label, test_size=0.1)

In [23]:
features_train

array([[9.36708861e-01, 5.71428571e-01, 3.07692308e-01, ...,
        4.70171468e-02, 1.64018499e-04, 6.59339283e-05],
       [7.34177215e-01, 7.14285714e-01, 2.30769231e-01, ...,
        4.69178745e-02, 5.40115415e-05, 6.55831257e-06],
       [4.87341772e-01, 6.42857143e-01, 1.00000000e+00, ...,
        4.68625823e-02, 0.00000000e+00, 3.00549904e-05],
       ...,
       [5.06329114e-02, 9.28571429e-01, 1.00000000e+00, ...,
        4.68689087e-02, 6.63749895e-06, 6.01100409e-05],
       [6.32911392e-02, 0.00000000e+00, 1.00000000e+00, ...,
        4.72546187e-02, 4.11311552e-04, 4.80880207e-05],
       [8.60759494e-01, 5.71428571e-01, 3.84615385e-01, ...,
        4.69382386e-02, 1.63208724e-04, 1.16914748e-05]])

In [32]:
from sklearn.metrics.pairwise import euclidean_distances
 
observation = [4,4]
neighbors = [[2,3], [3,7], [1,6]]
 
euclidean_distances([observation], neighbors)

array([[2.23606798, 3.16227766, 3.60555128]])

In [33]:
euclidean_distances(neighbors)

array([[0.        , 4.12310563, 3.16227766],
       [4.12310563, 0.        , 2.23606798],
       [3.16227766, 2.23606798, 0.        ]])